


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

        {% load staticfiles %}
        <link rel="stylesheet" href={% static 'accounts/style.css' %} type="text/css"
        <title></title>


    <meta charset="utf-8">
    <title>WELCOME-@B! Blogz</title>

  </head>
  <body>
<center>
<br>
<br>
<br>
<br>
<br>
  <center>

    <font face="verdana" color="white" size='50' ><big><big>@b! Blogz</big></big></font>
    <br>
    <a href="/accounts/register/">
      <button class="btn btn-danger" type="submit" name="Register">Register</button>
    </a>

    <a href="/accounts/login/">
     <button class="btn btn-danger" type="submit" name="Login">Login</button>
    </a>




  </center>

  </body>
</html>
